<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Doctor Login</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" th:href="@{../css/login-style.css}" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
  <body>

  <!--

  <h2>Doctor Login</h2>
    <form th:action="@{/doctor/login-process}" th:object="${doctor}" method="post">
      <label>Username:</label>
      <input field="{username}" type="text" name="username" required /><br/>
      <label>Password:</label>
      <input field="{password}" type="password" name="password" required /><br/>
      <button type="submit">Login</button>
    </form>
    <div th:if="${param.error}">
      <p style="color:red">Invalid username or password</p>
    </div>

  -->

    <div id="login">
      <h3 class="text-center text-white pt-5">Login form</h3>
      <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <form id="login-form" class="form" th:action="@{/doctor/login-process}" th:object="${doctor}" method="post">
                <h3 class="text-center text-info">Login</h3>
                <div class="form-group">
                  <label for="username" class="text-info">Username:</label><br>
                  <input field="{username}" type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password" class="text-info">Password:</label><br>
                  <input field="{password}" type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                  <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                  <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                </div>
                <div th:if="${param.error}">
                  <p class="text-center text-white pt-5">Invalid credentials!</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>